<!doctype html>
<html >
	<head>
	    <meta charset="utf-8">
	    <title>Meme Detail Page</title>
	    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
	    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

	    <style>
			.padding {
				padding-top: 10px;
			}

			.ownedButton {
				font-family: monospace; 
			    background: transparent;
			    font-size: 15px; 
			    border: solid; 
			    border-radius: 5px; 
			    border-width: thin; 
			    padding: 5px; 
			    color: #124B63; 
			    box-shadow: 0 9px 16px 0 rgba(0,0,0,0.24), 0 10px 50px 0 rgba(0,0,0,0.19);
			}

	    </style>

	</head>

	<header class="p-2 text-center" >
	{% extends "base.html" %}
	    {% block content %}

        {% load static %}

        <link rel="stylesheet" href="{% static 'TheMemeExchange/theme.css' %}">
        
    </header> 
	<body style="background-color: #EDF6F9">
		<br>
	    <h2 style="text-align: center; padding-bottom: 30px; font-family: Trebuchet MS;font-weight: bold;">{{ image.description }}</h2>

	    {% load static %}

	    <div style="text-align: center;">
	    	<span class="rounded " style="width: 600px; text-align: center; float: left; padding-left: 100px">
				<img class="rounded border " src="{{image.link}}" alt="My image" style="max-width: 600px" height="400" width="auto">
			</span>
			<span>
				<div style="padding-top: 50px; padding-bottom: 5px">
					<b style="font-size: 25px;font-family: Trebuchet MS;font-weight: bold" >Creator: </b> 
					<label style="font-size: 20px;font-family: Trebuchet MS"> {{ user.username }}</label>
				</div>
				<div>
					{% if image.creator == request.user.id %}
						<label class="rounded ownedButton" style="background-color: #619B8A; font-weight: bold; font-size: 20px">This is your meme!</label>
					{% elif image.id in owned %}
						<label class="rounded ownedButton" style="background-color: #619B8A; font-weight: bold; font-size: 20px">You already own this!</label>
					{% else %}
						{% if image.id in cart %}
								<label class="rounded toolbarButtons" style="background-color: #619B8A; font-weight: bold; font-size: 20px">Added!</label>
						{% else %}
							<form style="padding-left: 10px; padding-top: 25px" action="../../memeDetails/addToCart/{{ image.id }}/" method="post"> {% csrf_token %}
								<input type="submit" class="rounded toolbarButtons" style="background-color: #619B8A; font-weight: bold; font-size: 20px" value="Add to Cart"/>
							</form>
						{% endif %}
					{% endif %}
				</div>
				<br><br>
				<div style="font-family: Trebuchet MS">
					{% if image.likes == 1 %}
						<label>{{image.likes}} memer has bought this dank masterpiece</label> <br>
					{% else %}
						<label>{{image.likes}} memers have bought this dank masterpiece</label> <br>
					{% endif %}
					<b style="font-size: 25px; font-family: Trebuchet MS; font-weight: bold;">Tags: </b>
					<label style="font-size: 20px; font-family: Trebuchet MS"> {{ image.tags }}</label>
				</div>
			</span>
		</div>

	    {% endblock %}
	</body>
</html>
