<!doctype html>
<html>
	<head>
	    <meta charset="utf-8">
	    <title>Meme Detail Page</title>
	    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
	    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

	    <style>
	      .padding {
	        padding-top: 10px;
	      }
	    </style>

	</head>
	<body>
		{% extends "base.html" %}

		{% block content %}
	    <h2 style="text-align: center;">Insert Meme Title Here</h1>


	    {% endblock %}
	</body>
</html>