<!doctype html>
<html>
	<head>
	    <meta charset="utf-8">
	    <title>Meme Detail Page</title>
	    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
	    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

	    <style>
			.padding {
				padding-top: 10px;
			}
	    </style>

	</head>
	<body>
		{% extends "base.html" %}

		{% block content %}
	    <h2 style="text-align: center; padding-bottom: 30px">Insert Meme Title Here</h1>

	    {% load static %}
	    <div style="padding-left: 150px; padding-bottom: 25px " >
			<img class="rounded border" src="{% static "/shoppingCart.png" %}" alt="My image" height="400" width="600">
			<span style="position: absolute; padding-left: 25px; padding-top: 100px">
				<b style="padding-right: 150px; font-size: 25px;">More About This Meme</b>
				<button class="rounded " style="font-size: 20px; padding: 10px; border: dotted; background: #ccccff">Add to Cart</button> 
				<div>
					<label style="font-size: 20px">Insert the meme details here</label>
				</div>
			</span>
		</div>
		<span>
			<b style="padding-left: 150px; font-size: 25px" >Creator: </b>
			<label style="font-size: 20px">Insert creator name here</label>	
		</span>
		
	    {% endblock %}
	</body>
</html>