<!doctype html>
<meta name="viewport" content="width=device-width, initial-scale=1">

<style>

.padding {
  padding-right: 20px;
  padding-top: 20px;
}

a {
  color: #FF0000;
}

button {
  background-color: Transparent;
  background-repeat:no-repeat;
  border: none;
  cursor:pointer;
  overflow: hidden;
  outline:none;
}

</style>

<header style="background-color: #D1D1D1; border-bottom: solid;" class="flex justify-content-center text-right padding">
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<div class="text-center">
  <h2> <a href="../../front" style="color: #000000">The Meme Exchange</a> </h2>

  <hr>
</div>
<!-- need to add in if the session then check if login is needed or not -->
<!-- Hello <i> User</i>,  You Currently Have:

<a href="../BuyMemeCoin/"> 20 MemeCoins </a> -->
<!-- Trigger/Open The Modal -->
{% if request.user.is_anonymous %}
  <button id="myBtn" onclick="modalhelper()">Click Here To Login</button>
{% else %}

  Hello <i> <a href="../../Profile/"> {{request.user}} </a> </i>,  You Currently Have:
  <a href="../../../BuyMemeCoin/"> {{ request.session.coins }} MemeCoins </a> <br>
  {% load static %}
  <a href="../../../shoppingCart/" > <img src="{% static "/shoppingCart.png" %}" alt="My image" height="30" width="30"> </a><br>
  <a href="../../Profile/logout" id="logout" >Logout</a> <br>
 <!-- <a href="../../Profile"> Profile</a>-->
{% endif %}

        <span>
                <div class="d-flex input-group mb-3">
				<a class="btn btn-outline-dark p-2" href = "../front">home</a>
				<a class="btn btn-outline-dark p-2" href = "../about/">about</a>
						
                        <form action ="{% url 'searchByTag' %}" method ="get" class = "ml-auto"> 
						
						<!--<span class = "ml-auto">-->   
						<input id="searchfield" type="text" class="form-control " name = "tag" aria-label="Text input">
						<!--</span>-->
							<div class="input-group-prepend">
                                <button id="searchbutton" class="btn btn-outline-dark" type="submit" >Search</button>
                            </div>
						</form>	
		
						
                </div>
        </span>



<!-- Start of Purchase Model -->
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel"><h2 id="modalTitle">Login To Begin Memeing</h2></h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
             <div>
                <form action="{% url 'login' %}" method="get">
                  <div class="modal-content ">
                    <label for="uname"><b>Username</b></label>
                    <input type="text" placeholder="Enter Username" name="uname" required>
                  </div>
                  <div class="modal-content ">
                    <label for="psw"><b>Password</b></label>
                    <input type="password" placeholder="Enter Password" name="psw" required>
                  </div>
                  <div class="modal-content ">
                    <button type="submit" >Login</button>
                  </form>
            </div>
          </div>       
          <div class="modal-footer">
            <span>
              <a href="../createAccount" id="sign-up">Don't have an account? Click to Sign Up!</a>
            </span>
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
          </div>
        </div>
      </div>
    </div>
<!-- End of Upload Model -->

<script>
  //Shows upload modal on button press
  function modalhelper() {
    $("#myModal").modal("show");
  }

  // When the user clicks anywhere outside of the modal, close it
  window.onclick = function(event) {
    if (event.target == modal) {
      modal.style.display = "none";
    }
  }
  $("#searchbutton").on("click",function(){
  if($("#searchfield").val()!= ""){
	console.log("hello");
	
	}
	else
	{
		console.log("goodbye");
	}
  })

</script>



</header>
{% block content %}{% endblock %}
<footer>



</footer>
