<!doctype html>
<html>
	<head>
	    <meta charset="utf-8">
	    <title>Shopping Cart Page</title>
	    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
	    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
	    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

	    <style>
			.padding {
				padding-top: 10px;
			}

	    </style>

	</head>
	<body>
		{% extends "base.html" %}

		{% block content %}

		{% load static %}

		<link rel="stylesheet" href="{% static 'TheMemeExchange/theme.css' %}">
	    <h2 style="text-align: center; padding-bottom: 30px; padding-top: 30px">Currently Viewing Your Cart</h2>

	    {% if cart %}
		    {% for pic in cart %}
		    <div style="padding-left: 150px; padding-bottom: 175px " >
		    	<div class="rounded " style="position: fixed; width: 300px;">
					<img class="rounded border " src="{{pic.link}}" alt="My image" height="150" width="auto">
				</div>

				<span style="position: absolute; padding-left: 175px; padding-top: 20px">
					<div>
						<label style="font-size: 20px"> "{{ pic.description }}" </label>
					</div>
					<form style="padding-left: 10px; padding-top: 25px" action="../../shoppingCart/removeItemFromCart/{{ pic.id }}/" method="delete"> {% csrf_token %}
						<input type="submit" class="rounded " style="font-size: 15px; padding: 5px; border: solid;" value="Remove from Cart ?"/> 
					</form>						
				</span>
			</div>
			{% endfor %}
			<div style="text-align: center; ">
				<button class="border rounded " type="button" class="btn btn-secondary " id="uploadModelButton" onclick="modalhelper()" style="font-weight: bold; font-size: 25px; border: dashed; border-width: thick; box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1); background: #124B63; color: #ffffff">Get Those Memes!</button>

			</div>
		{% else %}
			<div style="padding-top: 100px; text-align: center; font-size: 30px" >
				<label>Your Cart Is Empty! Go Add Some Memes :)</label>
			</div>
		{% endif %}



		<!-- Start of Purchase Model -->
    <div class="modal fade" id="purchModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel"><h2 id="modalTitle">Confirm Your Meme Purchase</h2></h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
             <div>
                  <form>
                    <div >
						<b>Your Meme Coins: </b>
						<label>{{ request.session.coins }}</label>
					</div>
					<div >
						<b>Meme Purchase Total:  </b>
						<label>{{ total }}</label>
					</div>
					{% if total > request.session.coins %}
						<div class=" text-center">
							<a href="../BuyMemeCoin/" >Not enough MemeCoins for this purchase! Click me to buy more.</a>
						</div>
					{% else %}
						<div class="text-center" style="padding-top: 10px">
							<b><a href="../../shoppingCart/purchaseMeme/" >Confirm Your Purchase</a></b>
						</div>
					{% endif %}
                  </form>
            </div>
          </div>
          <div class="modal-footer">
          	<span >
				<a href="../BuyMemeCoin">Purchase More MemeCoins Here!</a>
			</span>
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
          </div>
        </div>
      </div>
    </div>
<!-- End of Upload Model -->
	<script>

	//Shows upload modal on button press
	function modalhelper() {
		$("#purchModal").modal("show");
	}

	// When the user clicks anywhere outside of the modal, close it
	window.onclick = function(event) {
	  if (event.target == modal) {
	    modal.style.display = "none";
	  }
	}
	</script> 
			
			
		{% endblock %}
	</body>
</html>