<!doctype html>
<html>
<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
	 <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <style>
        .imgs {
            width: 154px;
            margin: 2px;
        }
        #body {
            height: 80%;
        }
        .imageFrame {
          padding-top: 10px;
          padding-bottom: 10px;
        }
    </style>
</head>


<body class="bg-secondary ">


    <header class="bg-dark p-2 text-center">
	{% extends "base.html" %}
	    {% block content %}

        {% load static %}

        <link rel="stylesheet" href="{% static 'TheMemeExchange/theme.css' %}">
        <span class = "d-flex flex-column justify-content-center">

        </span>
    </header>
    <div class="d-flex justify-content-center">
        <div class="w-75 bg-secondary h-100 p-5 bg-light" id="body">

          {% for m in images %}
            <div class="imageFrame">
                <a class="tester" href="../memeDetails/{{meme.id}}"><div class="actualMeme">
                  <b> {{m.description}} </b> <br>
                  {{m.user}}
                  <img class="rounded border" src="{{m.link}}" alt="My image" height="300" width="300"> <br>
                </div></a>
            </div>

          {% endfor %}
        </div>
    </div>
</body>
  {% endblock %}
<footer class="d-flex justify-content-center">
    <div class = "footer">
        <h3>&copy; Meme Exchange 2020</h3>
        </div>
</footer>

</html>
