<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<style>
span.note {
  font-size: 100%;
  color: Black;
}

/* The message box is shown when the user clicks on the password field */
#message {
  display:none;
  background: #f1f1f1;
  color: #000;
  position: relative;
  padding: 20px;
  margin-top: 10px;
  margin-left: 25px;
}

#message p {
  padding: 10px 35px;
  font-size: 18px;
}

/* Add a green text color and a checkmark when the requirements are right */
.valid {
  color: green;
}

.valid:before {
  position: relative;
  left: -35px;
  content: "✔";
}

/* Add a red text color and an "x" when the requirements are wrong */
.invalid {
  color: red;
}

.invalid:before {
  position: relative;
  left: -35px;
  content: "✖";
}

#passwordMatch {
  display: none;
}
</style>

<div class="container d-flex justify-content-around">
    <div class="form">
        <h1><span class="note">Welcome To A New World Of Memes</span></h1>
        <div id="isError">{{error}}</div>
        <form action="{% url 'insertAcct' %}" method="post"> {% csrf_token %}
        	<div class="form-group">
			    <label for="user">Username</label>
			    <input type="Username" name="username" class="form-control" id="user" aria-describedby="usernameHelp" placeholder="Enter username">
			    <small id="usernameHelp" class="form-text text-muted">Be creative with your username (we don't allow duplicates)!</small>
  			</div>
			<div class="form-group">
			    <label for="emailInput">Email address</label>
			    <input type="Email" name="email" class="form-control" id="email" aria-describedby="emailHelp" placeholder="Enter email">
			    <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
  			</div>
			<div class="form-group">
				<label for="passwordInput">Password</label>
				<input type="Password" name="pass" class="form-control" id="pass1" placeholder="Enter Password" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z])(?=.*\W).{6,}" title="Must contain at least one number and one uppercase, one special character and lowercase letter, and at least 6 or more characters" required>
				<small id="passwordHelp" class="form-text text-muted">Must include at least one special character and be 6 or more characters.</small>
			</div>
			<div class="form-group">
				<label for="passwordInput">Confirm Password</label>
				<input type="Password" name="confirmPass" class="form-control" id="pass2" placeholder="Confirm Password">
        <small id="passwordMatch">Passwords must match</small>
			</div>
			<div class="form-group form-check">
				<input type="checkbox" name="checkbox" class="form-check-input" id="acceptBox">
				<label class="form-check-label" for="acceptBox">Hello There</label>
			</div>
			<button type="submit" id="btn" class="btn btn-primary">Get To Memeing</button>
		</form>
    </div>

    <div id="message" >
		<h3>Password must contain the following:</h3>
		<p id="letter" class="invalid">A <b>lowercase</b> letter</p>
		<p id="capital" class="invalid">A <b>capital (uppercase)</b> letter</p>
		<p id="number" class="invalid">A <b>number</b></p>
		<p id="length" class="invalid">Minimum <b>6 characters</b></p>
		<p id="special" class="invalid">A <b>special character</b></p>
	</div>
</div>


<script type="text/javascript">
  $( document ).ready(function() {
    $("#isError").hide();
    if($("#isError").text() == "yes"){
      alert("Username is already taken");
    }
    document.getElementById("btn").disabled = true;
  	var myInput = document.getElementById("pass1");
  	var letter = document.getElementById("letter");
  	var capital = document.getElementById("capital");
  	var number = document.getElementById("number");
  	var length = document.getElementById("length");
  	var special = document.getElementById("special");
    var pass2 = document.getElementById("pass2");
    var email = document;

  	// When the user clicks on the password field, show the message box
  	myInput.onfocus = function() {
  	  document.getElementById("message").style.display = "block";
  	}

  	// When the user clicks outside of the password field, hide the message box
  	myInput.onblur = function() {
  	  document.getElementById("message").style.display = "none";
  	}

  	myInput.onkeyup = function() {
  		// Validate lowercase letters
  		var lowerCaseLetters = /[a-z]/g;
  		if(myInput.value.match(lowerCaseLetters)) {
  		letter.classList.remove("invalid");
  		letter.classList.add("valid");
  		} else {
  		letter.classList.remove("valid");
  		letter.classList.add("invalid");
      document.getElementById("mySubmit").disabled = true;
  		}

  		// Validate capital letters
  		var upperCaseLetters = /[A-Z]/g;
  		if(myInput.value.match(upperCaseLetters)) {
  		capital.classList.remove("invalid");
  		capital.classList.add("valid");
  		} else {
  		capital.classList.remove("valid");
  		capital.classList.add("invalid");
      document.getElementById("btn").disabled = true;
  		}

  		// Validate numbers
  		var numbers = /[0-9]/g;
  		if(myInput.value.match(numbers)) {
  		number.classList.remove("invalid");
  		number.classList.add("valid");
  		} else {
  		number.classList.remove("valid");
  		number.classList.add("invalid");
      document.getElementById("btn").disabled = true;
  		}

  		// Validate length
  		if(myInput.value.length >= 6) {
  		length.classList.remove("invalid");
  		length.classList.add("valid");
  		} else {
  		length.classList.remove("valid");
  		length.classList.add("invalid");
      document.getElementById("btn").disabled = true;
  		}

  		// Validate special char
  		var specials = /\W/g;
  		if(myInput.value.match(specials)) {
  		special.classList.remove("invalid");
  		special.classList.add("valid");
  		} else {
  		special.classList.remove("valid");
  		special.classList.add("invalid");
      document.getElementById("btn").disabled = true;
  		}
  	}

    pass2.onkeyup = function() {
      if(myInput.value.localeCompare(pass2.value) != 0) { // passwords don't match
        $("#pass2").css("border-color", "red");
        $("#passwordMatch").css("color", "red");
        $("#passwordMatch").css("display", "block");
        document.getElementById("btn").disabled = true;
      } else {
        $("#pass2").css("border-color", "green");
        $("#passwordMatch").text("Passwords match");
        $("#passwordMatch").css("color", "green");
        document.getElementById("btn").disabled = false;
      }
    }
  });



</script>
